.img{
    width: 50px;
    height: 50px;
}
.card{
    display: flex;
    justify-content:flex-start;
}
.cardtext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-left: 3%;
}