/* TODO Add site wide styles */
* {
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,
    Helvetica,Arial,sans-serif;
}

.NotFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    font-weight: 500;
}

.loginbutton{
    border: none;
    background-color: white;

}